<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Number Lookup : truecallerjs</title>
    {{>links}}
</head>
<body>
 {{>header}}
  <!-- main header  -->
      <main>
        <div class=" ">
          <div class="hero-sec align-content-center">
            <div class="hero-left">
              <h5>Do you want to find someone <span class="Mobile-clr">infomation</span> through</h5>
              <h3>Phone Number</h3>
              <a href="/search">Search now</a>
            </div>
            <div class="hero-right">
  
                <!-- ==this is for laptop or big screen == -->
                <div class="owl-carousel owl-theme ">
                  <div class="item"><img src="hero-img/trv.svg" alt="banner" class=""></div>
                    <div class="item"><img src="hero-img/search.svg" alt="banner"  class=""></div>
                    <div class="item"><img src="hero-img/feed.svg" alt="banner"   class="" ></div>
                   
                </div>

            </div>
          </div>
        </div>

      </main>

 {{>footer}}
</body>
</html>