@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-bg:#000130;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Exo Extra Bold", sans-serif;
	color: #0048ba;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.header-nav{
    background-color: var(--primary-bg);
 
}
.header-nav .navbar a{
    color: #fff !important;
    transition: all .3s linear;
}
.header-nav .navbar ul {
   text-align: center;
}
.navbar .navbar-nav  li{
 padding-left: 1rem;
 padding-right: 1rem;
 /* background-color: red; */
 
}
.navbar .navbar-nav   .nav-link:hover{
 color: rgb(255, 179, 0) !important;
 font-weight: bold;
}
/* .navbar .navbar-toggler{
    background-color: aquamarine;
} */

.navbar  .navbar-toggler-icon :hover{
color: rgb(255, 187, 0);
}
/* ---------- hero main sec ------- */
.hero-sec {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 85vh;
}
/* .hero-sec:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 237, 186, 0.101);
    clip-path: polygon(64.2% 0%, 100% 0%, 100% 100%, 21.6% 100%);
    z-index: -1;
    animation: changeClr 3s ease-in-out  infinite alternate ;
    opacity: 0.8;
    } */

  

.hero-sec .hero-left {
    display: flex;
    flex-direction: column;
}
.hero-sec .hero-left h5{
  color: #001320;
}
.hero-sec .hero-left .Mobile-clr{
    color: rgb(46, 42, 42);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Kdam Thmor Pro', sans-serif;
   }
.hero-sec .hero-left h3{
  font-size: 4.4rem;
font-weight: bold;
color: orange;
font-family: 'Kdam Thmor Pro', sans-serif;
}

.hero-sec .hero-left a{
 text-decoration: none;
 background: linear-gradient(67deg,rgb(112, 229, 255),rgb(210, 255, 88));
 display: block;
 text-align: center;
 border-radius: 15px;
 width: 35%;
 color: black;
 padding: 0.2rem 0.2rem;
 font-weight: 600;
 box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.60);
}
.hero-sec .hero-left a:hover{

 background: linear-gradient(67deg,rgb(56, 205, 238),rgb(255, 241, 88));

 box-shadow: 0 4px 9px -4px rgba(226, 20, 147, 0.6);
}
.hero-sec .hero-right .owl-carousel {
    width:400px;
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-sec .hero-right .owl-carousel .items img{
    width:100%;
    height: 80%;
    padding: 10px;
  
}

/* ======= footer ========== */

footer{
    background: var(--primary-bg);
    width: 100%;
    margin-top: auto;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #fff;
   
    line-height: 3rem;
    
}

/* ============searchBox ========= */
.searchBox {
    display: flex;
    width: 100%;
    justify-content: center;
}

.searchBox .iBox {
    position: relative;
    width: 500px;
    height: 40px;
    display: flex;
    background: #090a50;
    color: #fff;
    padding: 2px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.searchBox .iBox input{
    position: absolute;
    width: 100%;
    height: 100%;
  border: none;
  outline: none;
    top: 0;
    left: 0;
    background-color: transparent;
    color: #fff;
    padding-left: 8px;
    padding-right: 50px;
}

.searchBox .iBox button{
    position: absolute;
    top: 20;
    right: 0;
    padding: 8px;
    outline: none;
    background: linear-gradient(67deg,rgb(112, 229, 255),rgb(210, 255, 88));
    border: none;
}
.searchBox .iBox button:hover{
    font-weight: bold;
    background: linear-gradient(67deg,rgb(36, 131, 255),rgb(255, 244, 88));
    
}

::placeholder{
    color: beige;
}


/* ======== search result ======= */
.SearchResult {
    display: flex;
    width: 100%;
    justify-content: center;
}
.SearchResult .res-card {
width: 500px;
background-color: white;
height: auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SearchResult .res-card .res-card-header{

background: linear-gradient(95deg,rgb(251, 240, 92),rgb(255, 142, 49));
padding: 10px 12px;
font-weight: 600;

border-bottom: 1px solid #777;
}
.SearchResult .res-card .res-card-body{
padding: 1rem;
}

@media screen And (max-width:950px) {
   
    .hero-sec  {
       flex-direction: column ;
    }
    .hero-sec .hero-left {
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }

    .hero-sec .hero-left h3{
        font-size: 3.3rem;
      }
      .hero-sec .hero-left p{
          margin-top: 1.3rem;
     text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(33, 32, 32);
        
      }
      
        .hero-sec .hero-left a{
            margin-top: 1rem;
        }
        .hero-sec .hero-left .Mobile-clr{
            color: rgb(205, 205, 205);
        }
      .hero-sec .hero-right{
         
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

    .hero-sec .hero-right .owl-carousel {
        margin-top: 20px;
        width:320px;
        height: 320px;
    }
    .hero-sec .hero-right .owl-carousel img{
        width:80%;
        height: auto;
        padding: 10px;
    }

    .searchBox .iBox {
        width: 300px;
        height: 40px;
    }
    
    .SearchResult .res-card {
        width:300px !important;
        height: auto;
        }
}